
/obj
.vs/PhotosPreparation/FileContentIndex/e83d5cbc-459b-4503-92b3-b07186a28ebb.vsidx
.vs/PhotosResizer/FileContentIndex/27d3c8da-7fd0-437d-962a-329e5eee828f.vsidx
.vs/PhotosResizer/FileContentIndex/f6463582-b01e-4ba2-8944-3065d2abe4eb.vsidx
